{
	"env": {
		"production": {
			"only": [
				"app"
			],
			"plugins": [
				"transform-react-remove-prop-types",
				"transform-react-constant-elements",
				"transform-react-inline-elements"
			]
		},
		"test": {
			"plugins": [
				"transform-es2015-modules-commonjs",
				"dynamic-import-node"
			]
		}
	},
	"presets": [
		"flow",
		"jest",
		"react",
		"stage-0"
	],
	"plugins": [
		"flow-react-proptypes",
		"styled-components",
		["import", {"libraryName": "antd", "style": "css"}]
	]
}
